*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-style{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.paragraph-font{
  font-family: "Times New Roman", Times, serif;
  font-style:italic;
}
#project-title{
  text-align: center;
  margin-top: 10rem;
}
#sub-title{
  font-weight: bold;
  color: white;
}

/* Demo Video */
.vid-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height:0
}
.vid-container iframe{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.slideshow-button{
  margin-left: 12rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Technology-image */

.techno-img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}
.pros-pic{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* The team */
.card-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card{
  width: 20rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: .5rem .5rem 3rem rbga(0,0,0,0.2);
  padding: .5rem .5rem;
  border-radius: 2%;
}

.card:hover{
  transform: scale(1.05);
}

.profile-img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
}
.card h3{
  margin: 1.5rem 0;
}

.job-title{
  font-weight: bold;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin: 1rem;
        transition: transform .2s;
    }
    .vid-container{
      margin-right: 2rem;
    }
    .slideshow-container {
      margin-left:2rem;
    }
}
