*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-style{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.paragraph-font{
  font-family: "Times New Roman", Times, serif;
  font-style:italic;
}
#project-title{
  text-align: center;
  margin-top: 10rem;
}
#sub-title{
  font-weight: bold;
  color: white;
}

/* Demo Video */
.vid-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height:0;
  margin-right: 2rem;

}
.vid-container iframe{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left:2rem;
}
.slideshow-button{
  margin-left: 12rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Technology-image */

.techno-img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}
.pros-pic{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* The team */
.card-wrapper
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: auto;
  grid-gap: 0 40px;
  flex-direction: column;
  margin-bottom: 3rem;
}
.card-wrapper .card
{
	position: relative;
	background: #060c21;
	justify-content: center;
	align-items: center;
  border: 1px solid #000;
  width: 22rem;
  height: 35rem;
  margin: 1rem;

}
.card-wrapper .card:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	transform: skew(1deg,1deg);
	z-index: -1;
}
.card-wrapper .card:nth-child(1):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(2):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(3):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(4):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(5):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.05);
	pointer-events: none;
}
.content
{
  padding: 20px;
  margin-top: 3rem;
}
/* .card:hover
{
  transform: scale(1.05);
} */

.card .content p
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
}

.profile-img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
}

.contacts{
  /* float: right; */
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
/* scroll */
#scroll {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#scroll:hover {
  background: rgba(204, 204, 204, 0.5);
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media screen and (min-width: 700px){
    /* .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin: 1rem;
        transition: transform .2s;
    } */
    /* .vid-container{
      margin-right: 2rem;
    } */
    /* .slideshow-container {
      margin-left:2rem;
    } */
}
