*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-style{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.paragraph-font{
  letter-spacing: 0.5px;
  color: #f4f2f2;
  font-size: 1rem;
}
#project-title{
  text-align: center;
  margin-top: 10rem;
}
#sub-title{
  font-weight: bold;
  color: white;
}

/* Demo Video */
.vid-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height:0;
  margin-right: 2rem;

}
.vid-container iframe{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
/* image-show*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.title-container {
  position: relative;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

.title-container:hover .overlay {
  opacity: 1;
}


/* Technology-image */

.techno-img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}
.pros-pic{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* The team */
.card-wrapper
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: auto;
  grid-gap: 0 20px;
  /* flex-direction: column;
  margin-bottom: 3rem; */
  
}
.card-wrapper .card
{
	position: relative;
	background: #060c21;
	justify-content: center;
	/* align-items: center; */
  border: 1px solid #000;
  width: 20rem;
  height: 35rem;
  margin: 1rem;

}
.card-wrapper .card:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	transform: skew(1deg,1deg);
	z-index: -1;
}
.card-wrapper .card:nth-child(1):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(2):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(3):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(4):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:nth-child(5):before
{
	background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.card-wrapper .card:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.05);
	pointer-events: none;
}
.content
{
  padding: 20px;
  margin-top: 3rem;
}

.profile-img{
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
}

.contacts{
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.mail{
  position: absolute;
  bottom: 10px;
  right: 55px;
}
/* scroll */
#scroll {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#scroll:hover {
  background: rgba(204, 204, 204, 0.5);
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }

}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .card-wrapper .card
  {
    width: 17.5rem;
    height: 36rem;
  }
}

